<!DOCTYPE HTML>
<html>

<body>
    <base href="/">
    <title>Booking a lesson. Enitalk.</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.0/angular-sanitize.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-scroll-glue/2.0.7/scrollglue.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://s3.amazonaws.com/enitalkbucket/public/angular-toastr.tpls.min.js"></script>
    <link href="https://s3.amazonaws.com/enitalkbucket/public/angular-toastr.min.css" rel="stylesheet" />
    <style type="text/css">
    .pt15 {
        padding-top: 15px;
        font-size: medium;
    }
    
    .small {
        font-size: small;
    }
    
    .mb15 {
        margin-bottom: 15px;
    }
    
    .pb15 {
        padding-bottom: 10px;
    }
    </style>
    <script charset="utf-8">
    var app = angular.module('enitalk', ['luegg.directives', 'ngSanitize', 'toastr']);
    app.config(['$locationProvider', '$sceDelegateProvider', 'toastrConfig', function($locationProvider, $sceDelegateProvider, toastrConfig) {
        $locationProvider.html5Mode(true);
        $sceDelegateProvider.resourceUrlWhitelist([
            'self',
            'https://www.youtube.com/**'
        ]);

        angular.extend(toastrConfig, {
            autoDismiss: false,
            containerId: 'toast-container',
            maxOpened: 3,
            newestOnTop: true,
            positionClass: 'toast-top-right',
            preventDuplicates: false,
            preventOpenDuplicates: false,
            timeOut: 15000,
            target: 'body',
            closeButton: true
        });
    }]);

    app.controller('EnitalkCtrl', function($scope, $location, $window, $http, $sce, toastr) {
        console.log('From enitalk controller ', $location.search());
        console.log('Loading teachers ', $location.search().t);
        // var base = 'http://localhost:8087';
        var base = 'https://api.enitalk.com';

        var info = base + '/rest/teacher/info';
        var days = base + '/rest/days';
        var hours = base + '/rest/hours';
        var book = base + '/rest/book';
        $scope.info = undefined;

        $http.post(info, {
            t: $location.search().t
        }).then(function(data) {
            console.log('Data info ', data.data);
            $scope.info = data.data;
        });

        $scope.order = {
            t: $location.search().t
        };

        $scope.tzChanged = function() {
            console.log('Order ', $scope.order);
            if ($scope.order.timezone) {
                $http.post(days, {
                    timezone: $scope.order.timezone,
                    t: $location.search().t,
                    email: $scope.order.email
                }).then(function(data) {
                    console.log('Days available ', data.data);
                    $scope.days = data.data;
                    $scope.order.day = undefined;
                    $scope.hours = [];
                });
            }
        };

        $scope.dayChanged = function() {
            console.log('Order day changed', $scope.order);
            if ($scope.order.timezone) {
                $http.post(hours, {
                    timezone: $scope.order.timezone,
                    t: $location.search().t,
                    day: $scope.order.day,
                    email: $scope.order.email
                }).then(function(data) {
                    console.log('Days available ', data.data);
                    $scope.hours = data.data;
                });
            }
        };

        $scope.book = function() {
            console.log('Order to send ', $scope.order);
            var o = $scope.order;
            if (o.t && o.day && o.timezone && o.email && o.hour) {
                $scope.showSpinner=true;
                $scope.disabled = true;
                console.log('Sending info ', o);
                $http.post(book, o).then(function(data) {

                    var resp = data.data;
                    console.log('Resp from booking ', resp);
                    if (resp.error == '3') {
                        toastr.error('It seems your email is incorrect. Please, fix it and press the button again', 'Error');
                        $scope.order.email = undefined;
                        $scope.disabled = false;
                    } else {
                        toastr.success('We have sent an email with the payment link. Check your inbox.', 'Awesome');
                    }

                    $scope.showSpinner=false;
                });
            }

        };

    });
    </script>
    <div class="container" ng-app="enitalk" ng-controller="EnitalkCtrl">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-12 pt15">
                <!-- <span class="text-left text-primary"> <b><i class="fa fa-globe" aria-hidden="true"></i> Enitalk order</b></span> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <b><i class="fa fa-address-card-o" aria-hidden="true"></i> Book a lesson</b>
                            <span class="pull-right"><a href="http://enitalk.com">Back to enitalk.com</a></span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-6 col-lg-6" style="border-right: 1px groove  #f5f5f5">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe width="560" height="315" src="{{info.embed}}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
                                </div>
                                <div class="col-md-6 col-xs-6 col-lg-6">
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-6 col-lg-6">
                                <div class="input-group margin-bottom-sm pb15">
                                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
                                    <input class="form-control" ng-model="order.email" type="text" placeholder="Enter your email address">
                                </div>
                                <div class="input-group pb15">
                                    <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                                    <select ng-disabled="!order.email" class="form-control" name="repeatSelect" id="repeatSelect" ng-model="order.timezone" ng-change="tzChanged();">
                                        <option value="" disabled selected>Select your current time</option>
                                        <option ng-repeat="t in info.times" ng-value="t.name">{{t.date}}</option>
                                    </select>
                                </div>
                                <div class="input-group pb15">
                                    <span class="input-group-addon"><i class="fa fa-calendar-plus-o fa-fw" aria-hidden="true"></i></span>
                                    <select ng-disabled="!order.timezone" class="form-control" ng-model="order.day" ng-change="dayChanged();">
                                        <option value="" disabled selected>Select a day for a lesson (month/day/year format)</option>
                                        <option ng-repeat="d in days" ng-value="d">{{d}}</option>
                                    </select>
                                </div>
                                <div class="input-group pb15">
                                    <span class="input-group-addon"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i></span>
                                    <select ng-disabled="!order.day" class="form-control" ng-model="order.hour">
                                        <option value="" disabled selected>Select hour of the lesson</option>
                                        <option ng-repeat="h in hours" value="{{h}}">{{h}}</option>
                                    </select>
                                </div>
                                <div class="input-group pb15">
                                    <span class="input-group-addon"><i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i></span>
                                    <textarea class="form-control" placeholder="Write your wishes for the lesson" ng-model="order.comments"></textarea>
                                </div>
                                <p class="text-center">*By paying, you agree to Terms of Service: <a href="https://s3.amazonaws.com/enitalkbucket/public/offer_en.pdf" target="_blank">In English</a>, <a href="https://s3.amazonaws.com/enitalkbucket/public/offer_ru.pdf" target="_blank">In Russian</a></p>
                                <p class="text-center">Contacts: <a href="mailto:ceo@enitalk.com">ceo@enitalk.com</a></p>
                                <hr/>
                                <div class="pb15">
                                    <div class="col-md-6 col-xs-6 col-lg-6 pb15" style="padding-top:5px;" ng-if="info">
                                        <span class="text-info"><i class="fa fa-credit-card"></i> Total: {{info.price}} &#8381;</span>
                                    </div>
                                    <div class="pb15 col-md-6 col-xs-6 col-lg-6" ng-if="info">
                                        <span class="pull-right"><i class="fa fa-refresh fa-spin fa-fw text-success" ng-show="showSpinner"></i> <a href="" ng-disabled="disabled || !order.email || !order.day || !order.hour || !order.timezone" ng-click="!disabled && book();" class="btn btn-success"><i class="fa fa-credit-card-alt"></i> Send the payment link</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-6">
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</body>

</html>
